@(userData:models.UserData)

<script src="@routes.Assets.versioned("javascripts/signup.js")" type="text/javascript"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
            <input type="button" class = "btn btn-primary" id="logout" value="logout">
            </li>
        </ul>
    </div>
</nav>

<div class="row" style="margin-top:20px;">
    <div class="col-md-3" ></div>
    <div class="col-md-6 info underline" ><h3>Name:@userData.name</h3></div>
    <div class="col-md-3" ></div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" ><h3>UserName:@userData.userName</h3></div>
    <div class="col-md-4" ></div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" ><h3>Email Id: @userData.email</h3></div>
    <div class="col-md-4" ></div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" ><h3>Gender:@userData.gender</h3></div>
    <div class="col-md-4" ></div>
</div>