<div id = "body">
<nav class="navbar navbar-default">
    <div class="container-fluid text-center">
        <div class="navbar-header">
            <a class="navbar-brand" style="text-align: centre" href="#">Top Biz</a>
        </div>
        <ul class="nav navbar-nav" style="text-align: centre;">
            <li><a href="#" id = "home">HOME</a></li>
            <li><a href="#" id = "gallery">GALLERY</a></li>
            <li><a href="#" id = "blog">BLOG</a></li>
            <li><a href="#" id = "pages">PAGES</a></li>
            <li><a href="#" id = "about">ABOUT</a></li>
            <li><a href="#" id = "contact">CONTACT</a></li>
            <li><i class="fa fa-facebook-square" style = "font-size: 30px;color: #16166b"></i></li>
            <li><i class="fa fa-google-plus-square" style = "font-size: 30px;color: red"></i></li>
            <li><i class="fa fa-twitter" style = "font-size: 30px;color: #3fc4e4"></i></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><input type = "button" id="btn" class="btn btn-default" onclick = "click()" value = "SignUp"></li>
            <li><input type = "button" id="btn1"  class = "btn btn-default" onclick = "click()" value = "SignIn"></li>
        </ul>
    </div>
</div>
</nav>